
.home-page .intro-page1  {
    background-color: black;
    background:#000000;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-page .intro-page2  {
    background-color: #00D285;
}
.home-page .intro-page-img  {
    background-color: blueviolet;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0,0,0,0.3),rgba(0,0,0,0.7)),url(./images/Rectangle\ 49.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.home-page .intro-page3  {
    background-color:#00D285 ;
}
.btn1  {
    background: #00D285;
}
nav ul  {
    color: white;
}
.font-message  {
    background-color:#00D285;
}
.image-section  {
    background: url(./images/Rectangle\ 70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section2 .section2-div1  {
    background: #000000;
}
.section2 .section2-div2  {
    background: #EBFAF4;
}
.section2 #section2-div2-words  {
    color: #262626;
}
.section2 #section2-button  {
    color: white;
}
#section2-div1-image {
    background: url(./images/Rectangle\ 46.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3  {
    background: rgba(0, 47, 166, 0.05);
}
.first-box  {
    background: #FFFFFF;
}
.first-box .first-box-image  {
    background: url(./images/Ellipse\ 171.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.section-4 .section4-div1  {
    background-color: black;
}
.section-4 .section4-div1-image  {
    background: url(./images/Rectangle\ 46.jpg);
        background-repeat: no-repeat;
        background-size: cover
}